{% extends "base.html" %} {% block content %}
<h1>All Setlists</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Songs Count</th>
      <th>tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for setlist in object_list %}
    <tr>
      <td data-label="setlist.title">{{ setlist.title }}</td>
      <td data-label="setlist.songs.count">{{ setlist.songs.count }}</td>
      <td></td>
      <td>
        <a href="{% url 'setlist-copy' setlist.pk %}" class="ui button">Copy</a>
      </td>
    </tr>
  {% empty %}
  <tr class="disabled"><td>No setlists yet</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}
