{% extends "base.html" %} {% block content %}
<h1>Repertoire</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Original Artist</th>
      <th>Tempo</th>
      <th>Key</th>
      <th>Setlists Count</th>
      <th>Tags</th>
      <th>Notes</th>
      <th>Video URL</th>
      <th>Chart URL</th>
    </tr>
  </thead>
  <tbody>
    {% for song in object_list %}
    <tr>
      <td data-label="song.title">{{ song.title }}</td>
      <td data-label="song.original_artist">{{ song.original_artist }}</td>
      <td data-label="song.tempo">{{ song.tempo }}</td>
      <td data-label="song.key">{{ song.key }}</td>
      <td data-label="song.setlists.count">{{ song.setlists.count }}</td>
      <td data-label="song.tags">
        {% for tag in song.tags.all %}
        <div class="ui {{ tag.colour }} tag label">{{ tag.text }}</div>
        {% endfor %}
      </td>
      <td data-label="song.notes">{{ song.notes }}</td>
      <td data-label="song.video_url"><a href="{{ song.video_url }}" target="_blank">{{ song.video_url | truncatechars:20 }}</a></td>
      <td data-label="song.chart_url"><a href="{{ song.chart_url }}" target="_blank">{{ song.chart_url | truncatechars:20 }}</a></td>
    </tr>
    {% empty %}
    <tr class="disabled">
      <td>No songs yet</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
